<div class="pageHeader">
    <img src="assets/images/aboutus_banner.jpeg"  alt="Random third slide" class="pageImage">
    <div class="centered"></div>
    <div class="service-header">
        <div class="container">
            <div class="service-header__content">
                <div class="service-header__header">
                   <!--
                    <h1 class="service-header__title">
                        About Us
                    </h1>
                  -->
                </div>
            <h2 class="service-header__description">
              <!--
                <div class="shorttag"><span class="hr"></span>We are, what we are</div><br>
                -->
                <font class="middleText">
                    We are a digital technology company that provides end-to-end solutions to its clients. 
                    With just the right mix of proven industry expertise, mature talent pool and world-class infrastructure, we have emerged in recent years as a one-stop destination to successfully cater to all your IT outsourcing requirements.
                    We specialize in Web, Backend & mobile application development, to help transform businesses digitally.
                    We have consistently displayed a high level of proficiency in some of the cutting-edge technologies, frameworks and platforms.
                </font>
            </h2>        
        </div>
    </div>    
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6">
          <div class="card">
            <div style="height: 20px; background-color:#f29d36;"></div>
            <div class="card-body">
                <h5 class="card-title" style="color: black;">Vision</h5>
                <p class="card-text" style="color: black; text-align: left;">To facilitate the financial security of its members, associates, and their families through provision of a full range of highly competitive financial products and services; in so doing, USAA seeks to be the provider of choice for the military community </p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6">
          <div class="card">
            <div style="height: 20px; background-color:#373C44;"></div>
            <div class="card-body">
                <h5 class="card-title" style="color: black;">Mission</h5>
                <p class="card-text" style="color: black;text-align:left">To facilitate the financial security of its members, associates, and their families through provision of a full range of highly competitive financial products and services; in so doing, USAA seeks to be the provider of choice for the military community </p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6">
          <div class="card">
            <div style="height: 20px; background-color:#f29d36;"></div>
            <div class="card-body">
                <h5 class="card-title" style="color: black;">Goals</h5>
                <p class="card-text" style="color: black;text-align:left">To facilitate the financial security of its members, associates, and their families through provision of a full range of highly competitive financial products and services; in so doing, USAA seeks to be the provider of choice for the military community </p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6">
          <div class="card">
            <div style="height: 20px; background-color:#373C44;"></div>
            <div class="card-body">
                <h5 class="card-title" style="color: black;">Values</h5>
                <p class="card-text" style="color: black;text-align:left">To facilitate the financial security of its members, associates, and their families through provision of a full range of highly competitive financial products and services; in so doing, USAA seeks to be the provider of choice for the military community </p>
            </div>
          </div>
        </div>
    </div>
</div>
<div class="container">
    <div id="row" style="text-align: left;">
        <button class="button" routerLink="contact-us"><span>Find More </span></button>
    </div>
</div>
