<app-header2></app-header2>

<router-outlet></router-outlet>
  <!--<app-header></app-header>
  <dashboard *ngIf="cardToLoad==''"></dashboard>
  <front-end-technologies *ngIf="cardToLoad=='front-end-technologies'"></front-end-technologies>
  <back-end-technologies *ngIf="cardToLoad=='back-end-technologies'"></back-end-technologies>
  <mobile-technologies *ngIf="cardToLoad=='mobile-technologies'"></mobile-technologies>
  -->
  <contact-us *ngIf="cardToLoad=='contact-us'"></contact-us>
  <about-us *ngIf="cardToLoad=='about-us'"></about-us>
<app-footer></app-footer>


