<mat-sidenav-container>
  <mat-sidenav opened mode="side" class="sidenavcontent">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container *ngFor="let col of demographyColumns" matColumnDef="{{col}}">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="color: white;font-size: 15px;"> {{col}} </th>
        <td mat-cell *matCellDef="let element"> {{element[col]}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="demographyColumns"></tr>
      <tr mat-row (click)="onSelect(row)" *matRowDef="let row; columns: demographyColumns;"></tr>      
    </table>
    <mat-paginator hidePageSize [pageSizeOptions]="[10, 15]" style="color: teal;"></mat-paginator>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      Endoscopy Image
    </mat-toolbar>

    <div class="content1">
      <table>
        <tr>
          <td></td>
          <td>ID : </td>
          <td>{{selectedPatientId}}</td>
        </tr>
      </table>
    </div>
    <div class="content1">
      <table>
        <tr>
          <td>Name : </td>
          <td>{{selectedPatient}}</td>
        </tr>
      </table>
    </div>
    <!--Main Image-->
    <div class="content">
      <mat-card
        *ngIf="isImageSelected==true && isVideoSelected==false">

        <img mat-card-image src="{{selectedPatientImages[selectedImageIndex]}}" class="iconsspec">
        <mat-card-title *ngIf="selectedPatientImages[selectedImageIndex]">Endoscopy Image {{selectedImageIndex+1}}
        </mat-card-title>

        <table><br>
          <tr>
            <td><button (click)="prevImage()" style="background-color:#333333;"><img
                  src="assets/images/2305 - Triangle Arrow Left.png" height="30px" width="30px"></button></td>

            <td><button (click)="nextImage()" style="background-color:#333333;"><img
                  src="assets/images/2306 - Triangle Arrow Right.png" height="30px" width="30px"></button></td>
          </tr>
        </table>
      </mat-card>
      <!--Main Video-->
      <div class="main-video" *ngIf=" isVideoSelected==true && isImageSelected==false">
        <video #videoplayer [src]="selectedPatientVideos[indexOfSelectedvideo]" id="mainvideo" width="700px"
          height="500px">
        </video>

        <div id="iconbar">
          <div id="icons">
            <button [disabled]="isDisabledprevBtn" (click)="goToprev()"><img src="/assets/images/Previous.png"
                height="25px" width="25px" alt="previous"></button>
            <button (click)="playPause()"><img [src]="playpause" alt="play" width="16px"></button>
            <button [disabled]="isDisablednextBtn"><img src="/assets/images/Next.png" height="25px" width="25px"
                alt="next" (click)="goTonext()"></button>
          </div>
        </div><br><br>

        <!--</div>-->

      </div>
    </div>
  </mat-sidenav-content>
  <!--Thumbnail Image-->
  <mat-sidenav opened mode="side" class="sidenavcontent" position="end">
    <mat-toolbar>
      Images
    </mat-toolbar>
    <table style="height: 350px;">
      <tr>
        <td *ngIf="selectedPatientImages[i+0]!=undefined"><img class="thumbnail" src={{selectedPatientImages[i+0]}}
            (click)="onThumbnailSelect(i)"></td>
        <td *ngIf="selectedPatientImages[i+1]!=undefined"><img class="thumbnail" src={{selectedPatientImages[i+1]}}
            (click)="onThumbnailSelect(i+1)"></td>
      </tr>
      <tr>
        <td *ngIf="selectedPatientImages[i+2]!=undefined"><img class="thumbnail" src={{selectedPatientImages[i+2]}}
            (click)="onThumbnailSelect(i+2)"></td>
        <td *ngIf="selectedPatientImages[i+3]!=undefined"><img class="thumbnail" src={{selectedPatientImages[i+3]}}
            (click)="onThumbnailSelect(i+3)"></td>
      </tr>
      <tr>
        <td *ngIf="selectedPatientImages[i+4]!=undefined"><img class="thumbnail" src={{selectedPatientImages[i+4]}}
            (click)="onThumbnailSelect(i+4)"></td>
        <td *ngIf="selectedPatientImages[i+5]!=undefined"><img class="thumbnail" src={{selectedPatientImages[i+5]}}
            (click)="onThumbnailSelect(i+5)"></td>
      </tr>

      <tr>
        <td><button  *ngIf="selectedPatientImages[i+5]" [disabled]="!selectedPatientImages[i-6]" (click)="backward()"
            style="background-color:#3f3e3e;float: left; "><img src="assets/images/2305 - Triangle Arrow Left.png"
              height="25px" width="25px"></button></td>

        <td><button *ngIf="selectedPatientImages[i+5]" [disabled]="!selectedPatientImages[i+6]" (click)="forward()"
            style="background-color:#3f3e3e;float:right;"><img src="assets/images/2306 - Triangle Arrow Right.png"
              height="25px" width="25px "></button></td>
      </tr>
    </table>
    <!--Thumbnail video-->
    <mat-toolbar>
      Video Clips
    </mat-toolbar>

    <table class="relvideos">
      <tbody *ngIf="selectedPatientId==1 && isClicked==false">
        <tr>
          <td>
            <video [src]="selectedPatientVideos[k]" (click)="playInbig(k)" width="100px" height="80px"></video>
          </td>
          <td>
            <video [src]="selectedPatientVideos[k+1]" (click)="playInbig(k+1)" width="100px" height="80px"></video>
          </td>
        </tr>

        <tr>
          <td>
            <video [src]="selectedPatientVideos[k+2]" (click)="playInbig(k+2)" width="100px" height="80px"></video>
          </td>
          <td>
            <video [src]="selectedPatientVideos[k+3]" (click)="playInbig(k+3)" width="100px" height="80px"></video>
          </td>
        </tr>
        <tr>
          <td>
            <video [src]="selectedPatientVideos[k+4]" (click)="playInbig(k+4)" width="100px" height="80px"></video>
          </td>
          <td>
            <video [src]="selectedPatientVideos[k+5]" (click)="playInbig(k+5)" width="100px" height="80px"></video>
          </td>
        </tr>

      </tbody>
      <tbody *ngIf="selectedPatientId==1  && isClicked==true">
        <tr>
          <td>
            <video [src]="selectedPatientVideos[k+6]" (click)="playInbig(k+6)" width="100px" height="80px"></video>
          </td>
          <td>
            <video [src]="selectedPatientVideos[k+7]" (click)="playInbig(k+7)" width="100px" height="80px"></video>
          </td>
        </tr>
        <tr>
          <td>
            <video [src]="selectedPatientVideos[k+8]" (click)="playInbig(k+8)" width="100px" height="80px"></video>
          </td>
          <td>
            <video [src]="selectedPatientVideos[k+9]" (click)="playInbig(k+9)" width="100px" height="80px"></video>
          </td>
        </tr>
        <tr>
          <td>
            <video [src]="selectedPatientVideos[k+10]" (click)="playInbig(k+10)" width="100px" height="80px"></video>
          </td>
          <td>
            <video [src]="selectedPatientVideos[k+11]" (click)="playInbig(k+11)" width="100px" height="80px"></video>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="selectedPatientId==1">
        <tr>
          <td>
            <button [disabled]='isDisabledprev' class="prev" (click)="previous()"><img src="assets/images/leftarrow.png"
                height="25px" width="25px"></button>
          </td>
          <td>
            <button [disabled]='isDisablednext' class="next" (click)="next()"><img src="assets/images/rightarrow.png"
                height="25px" width="25px"></button>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="selectedPatientId==2  && isClicked==false">
        <tr>
          <td>
            <video [src]="selectedPatientVideos[i]" (click)="playInbig(k)" width="100px" height="80px"></video>
          </td>
          <td>
            <video [src]="selectedPatientVideos[i+1]" (click)="playInbig(k+1)" width="100px" height="80px"></video>
          </td>
        </tr>
        <tr>
          <td>
            <video [src]="selectedPatientVideos[k+2]" (click)="playInbig(k+2)" width="100px" height="80px"></video>
          </td>
          <td>
            <video [src]="selectedPatientVideos[k+3]" (click)="playInbig(k+3)" width="100px" height="80px"></video>
          </td>
        </tr>
        <tr>
          <td>
            <video [src]="selectedPatientVideos[k+4]" (click)="playInbig(k+4)" width="100px" height="80px"></video>
          </td>
          <td>
            <video [src]="selectedPatientVideos[k+5]" (click)="playInbig(k+5)" width="100px" height="80px"></video>
          </td>
        </tr>
      </tbody>

      <tbody *ngIf="selectedPatientId==2">
        <tr>
          <td>
            <button [disabled]='isDisabledprev' class="prev" (click)="previous()"><img src="assets/images/leftarrow.png"
                height="25px" width="25px"></button>
          </td>
          <td>
            <button [disabled]='isDisablednext' class="next" (click)="next()"><img src="assets/images/rightarrow.png"
                height="25px" width="25px"></button>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="selectedPatientId==3 && isClicked==false">
        <tr>
          <td>
            <video [src]="selectedPatientVideos[k]" (click)="playInbig(k)" width="100px" height="80px"></video>
          </td>
          <td>
            <video [src]="selectedPatientVideos[k+1]" (click)="playInbig(k+1)" width="100px" height="80px"></video>
          </td>
        </tr>
        <tr>
          <td>
            <video [src]="selectedPatientVideos[k+2]" (click)="playInbig(k+2)" width="100px" height="80px"></video>
          </td>
          <td>
            <video [src]="selectedPatientVideos[k+3]" (click)="playInbig(k+3)" width="100px" height="80px"></video>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="selectedPatientId==3">
        <tr>
          <td>
            <button [disabled]='isDisabledprev' class="prev" (click)="previous()"><img src="assets/images/leftarrow.png"
                height="25px" width="25px"></button>
          </td>
          <td>
            <button [disabled]='isDisablednext' class="next" (click)="next()"><img src="assets/images/rightarrow.png"
                height="25px" width="25px"></button>
          </td>
        </tr>
      </tbody>

      <tbody *ngIf="selectedPatientId==4 && isClicked==false">
        <tr>
          <td>
            <video [src]="selectedPatientVideos[k]" (click)="playInbig(k)" width="100px" height="80px"></video>
          </td>
          <td>
            <video [src]="selectedPatientVideos[k+1]" (click)="playInbig(k+1)" width="100px" height="80px"></video>
          </td>
        </tr>
        <tr>
          <td>
            <video [src]="selectedPatientVideos[k+2]" (click)="playInbig(k+2)" width="100px" height="80px"></video>
          </td>
          <td>
            <video [src]="selectedPatientVideos[k+3]" (click)="playInbig(k+3)" width="100px" height="80px"></video>
          </td>
        </tr>
        <tr>
          <td>
            <video [src]="selectedPatientVideos[k+4]" (click)="playInbig(k+4)" width="100px" height="80px"></video>
          </td>
          <td>
            <video [src]="selectedPatientVideos[k+5]" (click)="playInbig(k+5)" width="100px" height="80px"></video>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="selectedPatientId==4">
        <tr>
          <td>
            <button [disabled]='isDisabledprev' class="prev" (click)="previous()"><img src="assets/images/leftarrow.png"
                height="25px" width="25px"></button>
          </td>
          <td>
            <button [disabled]='isDisablednext' class="next" (click)="next()"><img src="assets/images/rightarrow.png"
                height="25px" width="25px"></button>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="selectedPatientId==5 && isClicked==false">
        <tr>
          <td>
            <video [src]="selectedPatientVideos[k]" (click)="playInbig(k)" width="100px" height="80px"></video>
          </td>
          <td>
            <video [src]="selectedPatientVideos[k+1]" (click)="playInbig(i+1)" width="100px" height="80px"></video>
          </td>
        </tr>
        <tr>
          <td>
            <video [src]="selectedPatientVideos[k+2]" (click)="playInbig(k+2)" width="100px" height="80px"></video>
          </td>
          <td>
            <video [src]="selectedPatientVideos[k+3]" (click)="playInbig(k+3)" width="100px" height="80px"></video>
          </td>
        </tr>
        <tr>
          <td>
            <video [src]="selectedPatientVideos[k+4]" (click)="playInbig(k+4)" width="100px" height="80px"></video>
          </td>
          <td>
            <video [src]="selectedPatientVideos[k+5]" (click)="playInbig(k+5)" width="100px" height="80px"></video>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="selectedPatientId==5">
        <tr>
          <td>
            <button [disabled]='isDisabledprev' class="prev" (click)="previous()"><img src="assets/images/leftarrow.png"
                height="25px" width="25px"></button>
          </td>
          <td>
            <button [disabled]='isDisablednext' class="next" (click)="next()"><img src="assets/images/rightarrow.png"
                height="25px" width="25px"></button>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="selectedPatientId==6 && isClicked==false">
        <tr>
          <td>
            <video [src]="selectedPatientVideos[k]" (click)="playInbig(k)" width="100px" height="80px"></video>
          </td>
          <td>
            <video [src]="selectedPatientVideos[k+1]" (click)="playInbig(k+1)" width="100px" height="80px"></video>
          </td>
        </tr>
        <tr>
          <td>
            <video [src]="selectedPatientVideos[k+2]" (click)="playInbig(k+2)" width="100px" height="80px"></video>
          </td>
          <td>
            <video [src]="selectedPatientVideos[k+3]" (click)="playInbig(k+3)" width="100px" height="80px"></video>
          </td>
        </tr>
        <tr>
          <td>
            <video [src]="selectedPatientVideos[k+4]" (click)="playInbig(k+4)" width="100px" height="80px"></video>
          </td>
          <td>
            <video [src]="selectedPatientVideos[k+5]" (click)="playInbig(k+5)" width="100px" height="80px"></video>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="selectedPatientId==6">
        <tr>
          <td>
            <button [disabled]='isDisabledprev' class="prev" (click)="previous()"><img src="assets/images/leftarrow.png"
                height="25px" width="25px"></button>
          </td>
          <td>
            <button [disabled]='isDisablednext' class="next" (click)="next()"><img src="assets/images/rightarrow.png"
                height="25px" width="25px"></button>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="selectedPatientId==7 && isClicked==false">
        <tr>
          <td>
            <video [src]="selectedPatientVideos[k]" (click)="playInbig(k)" width="100px" height="80px"></video>
          </td>
          <td>
            <video [src]="selectedPatientVideos[k+1]" (click)="playInbig(k+1)" width="100px" height="80px"></video>
          </td>
        </tr>
        <tr>
          <td>
            <video [src]="selectedPatientVideos[k+2]" (click)="playInbig(k+2)" width="100px" height="80px"></video>
          </td>
          <td>
            <video [src]="selectedPatientVideos[k+3]" (click)="playInbig(k+3)" width="100px" height="80px"></video>
          </td>
        </tr>
        <tr>
          <td>
            <video [src]="selectedPatientVideos[k+4]" (click)="playInbig(k+4)" width="100px" height="80px"></video>
          </td>
          <td>
            <video [src]="selectedPatientVideos[k+5]" (click)="playInbig(k+5)" width="100px" height="80px"></video>
          </td>
        </tr>
      </tbody>

      <tbody *ngIf="selectedPatientId==7">
        <tr>
          <td>
            <button [disabled]='isDisabledprev' class="prev" (click)="previous()"><img src="assets/images/leftarrow.png"
                height="25px" width="25px"></button>
          </td>
          <td>
            <button [disabled]='isDisablednext' class="next" (click)="next()"><img src="assets/images/rightarrow.png"
                height="25px" width="25px"></button>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="selectedPatientId==8 && isClicked==false">
        <tr>
          <td>
            <video [src]="selectedPatientVideos[k]" (click)="playInbig(k)" width="100px" height="80px"></video>
          </td>
          <td>
            <video [src]="selectedPatientVideos[k+1]" (click)="playInbig(k+1)" width="100px" height="80px"></video>
          </td>
        </tr>
        <tr>
          <td>
            <video [src]="selectedPatientVideos[k+2]" (click)="playInbig(k+2)" width="100px" height="80px"></video>
          </td>
          <td>
            <video [src]="selectedPatientVideos[k+3]" (click)="playInbig(k+3)" width="100px" height="80px"></video>
          </td>
        </tr>
        <tr>
          <td>
            <video [src]="selectedPatientVideos[k+4]" (click)="playInbig(k+4)" width="100px" height="80px"></video>
          </td>
          <td>
            <video [src]="selectedPatientVideos[k+5]" (click)="playInbig(k+5)" width="100px" height="80px"></video>
          </td>
        </tr>
      </tbody>

      <tbody *ngIf="selectedPatientId==8">
        <tr>
          <td>
            <button [disabled]='isDisabledprev' class="prev" (click)="previous()"><img src="assets/images/leftarrow.png"
                height="25px" width="25px"></button>
          </td>
          <td>
            <button [disabled]='isDisablednext' class="next" (click)="next()"><img src="assets/images/rightarrow.png"
                height="25px" width="25px"></button>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="selectedPatientId==9 && isClicked==false">
        <tr>
          <td>
            <video [src]="selectedPatientVideos[k]" (click)="playInbig(k)" width="100px" height="80px"></video>
          </td>
          <td>
            <video [src]="selectedPatientVideos[k+1]" (click)="playInbig(k+1)" width="100px" height="80px"></video>
          </td>
        </tr>
        <tr>
          <td>
            <video [src]="selectedPatientVideos[k+2]" (click)="playInbig(k+2)" width="100px" height="80px"></video>
          </td>
          <td>
            <video [src]="selectedPatientVideos[k+3]" (click)="playInbig(k+3)" width="100px" height="80px"></video>
          </td>
        </tr>
        <tr>
          <td>
            <video [src]="selectedPatientVideos[k+4]" (click)="playInbig(k+4)" width="100px" height="80px"></video>
          </td>
          <td>
            <video [src]="selectedPatientVideos[k+5]" (click)="playInbig(k+5)" width="100px" height="80px"></video>
          </td>
        </tr>
      </tbody>


      <tbody *ngIf="selectedPatientId==9">
        <tr>
          <td>
            <button [disabled]='isDisabledprev' class="prev" (click)="previous()"><img src="assets/images/leftarrow.png"
                height="25px" width="25px"></button>
          </td>
          <td>
            <button [disabled]='isDisablednext' class="next" (click)="next()"><img src="assets/images/rightarrow.png"
                height="25px" width="25px"></button>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="selectedPatientId==10 && isClicked==false">
        <tr>
          <td>
            <video [src]="selectedPatientVideos[k]" (click)="playInbig(k)" width="100px" height="80px"></video>
          </td>
          <td>
            <video [src]="selectedPatientVideos[k+1]" (click)="playInbig(k+1)" width="100px" height="80px"></video>
          </td>
        </tr>
        <tr>
          <td>
            <video [src]="selectedPatientVideos[k+2]" (click)="playInbig(k+2)" width="100px" height="80px"></video>
          </td>
          <td>
            <video [src]="selectedPatientVideos[k+3]" (click)="playInbig(k+3)" width="100px" height="80px"></video>
          </td>
        </tr>
        <tr>
          <td>
            <video [src]="selectedPatientVideos[k+4]" (click)="playInbig(k+4)" width="100px" height="80px"></video>
          </td>
          <td>
            <video [src]="selectedPatientVideos[k+5]" (click)="playInbig(k+5)" width="100px" height="80px"></video>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="selectedPatientId==10">
        <tr>
          <td>
            <button [disabled]='isDisabledprev' class="prev" (click)="previous()"><img src="assets/images/leftarrow.png"
                height="25px" width="25px"></button>
          </td>
          <td>
            <button [disabled]='isDisablednext' class="next" (click)="next()"><img src="assets/images/rightarrow.png"
                height="25px" width="25px"></button>
          </td>
        </tr>
      </tbody>
    </table>


  </mat-sidenav>
</mat-sidenav-container>