<mat-sidenav-container>
  <mat-sidenav opened mode="side" class="sidenavcontent">
    <mat-toolbar>
      Endoscopy Image
    </mat-toolbar>
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container *ngFor="let col of demographyColumns" matColumnDef="{{col}}">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="color: white;font-size: 15px;"> {{col}} </th>
        <td mat-cell *matCellDef="let element"> {{element[col]}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="demographyColumns"></tr>
      <tr mat-row (click)="onSelect(row)" *matRowDef="let row; columns: demographyColumns;"></tr>      
    </table>
    <mat-paginator hidePageSize [pageSizeOptions]="[10, 5]" style=" background-color:#333333;color: white;"></mat-paginator>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content1">
      <table>
        <tr>
          <td></td>
          <td>ID : </td>
          <td>{{selectedPatientId}}</td>
        </tr>
      </table>
    </div>
    <div class="content1">
      <table>
        <tr>
          <td>Name : </td>
          <td>{{selectedPatient}}</td>
        </tr>
      </table>
    </div>
    <!--Main Image-->
    <div class="content">
      <mat-card
        *ngIf="isImageSelected==true && isVideoSelected==false">

        <img mat-card-image src="{{selectedPatientImages[selectedImageIndex]}}" class="iconsspec">
        <mat-card-title *ngIf="selectedPatientImages[selectedImageIndex]">Endoscopy Image {{selectedImageIndex+1}}
        </mat-card-title>

        <table><br>
          <tr>
            <td><button [disabled]="disablePrevMainWndBtn" (click)="prevImage()" style="background-color:#333333;"><img
                  src="assets/images/2305 - Triangle Arrow Left.png" height="30px" width="30px"></button></td>

            <td><button [disabled]="disableNextMainWndBtn" (click)="nextImage()" style="background-color:#333333;"><img
                  src="assets/images/2306 - Triangle Arrow Right.png" height="30px" width="30px"></button></td>
          </tr>
        </table>
      </mat-card>
      <!--Main Video-->
      <div class="main-video" *ngIf=" isVideoSelected==true && isImageSelected==false">
        <video #videoplayer [src]="selectedPatientVideos[indexOfSelectedvideo]" id="mainvideo" width="700px"
          height="500px">
        </video>

        <div id="iconbar">
          <div id="icons">
            <button [disabled]="disablePrevMainWndBtn" (click)="goToprev()"><img src="/assets/images/Previous.png"
                height="25px" width="25px" alt="previous"></button>
            <button (click)="playPause()"><img [src]="playpause" alt="play" width="16px"></button>
            <button [disabled]="disableNextMainWndBtn"><img src="/assets/images/Next.png" height="25px" width="25px"
                alt="next" (click)="goTonext()"></button>
          </div>
        </div><br><br>

        <!--</div>-->

      </div>
    </div>
  </mat-sidenav-content>
  <!--Thumbnail Image-->
  <mat-sidenav opened mode="side" class="sidenavcontent" position="end">
    <mat-toolbar>
      Images
    </mat-toolbar>
    <table style="height: 350px;">
      <tr>
        <td *ngIf="selectedPatientImages[i+0]!=undefined"><img class="thumbnail" src={{selectedPatientImages[i+0]}}
            (click)="onThumbnailSelect(i)"></td>
        <td *ngIf="selectedPatientImages[i+1]!=undefined"><img class="thumbnail" src={{selectedPatientImages[i+1]}}
            (click)="onThumbnailSelect(i+1)"></td>
      </tr>
      <tr>
        <td *ngIf="selectedPatientImages[i+2]!=undefined"><img class="thumbnail" src={{selectedPatientImages[i+2]}}
            (click)="onThumbnailSelect(i+2)"></td>
        <td *ngIf="selectedPatientImages[i+3]!=undefined"><img class="thumbnail" src={{selectedPatientImages[i+3]}}
            (click)="onThumbnailSelect(i+3)"></td>
      </tr>
      <tr>
        <td *ngIf="selectedPatientImages[i+4]!=undefined"><img class="thumbnail" src={{selectedPatientImages[i+4]}}
            (click)="onThumbnailSelect(i+4)"></td>
        <td *ngIf="selectedPatientImages[i+5]!=undefined"><img class="thumbnail" src={{selectedPatientImages[i+5]}}
            (click)="onThumbnailSelect(i+5)"></td>
      </tr>
      <tr>
        <td><button [disabled]="disablePrevImageThumbnailBtn" (click)="backward()"
            style="background-color:#3f3e3e;float: left; "><img src="assets/images/2305 - Triangle Arrow Left.png"
              height="25px" width="25px"></button></td>

        <td><button [disabled]="disableNextImageThumbnailBtn" (click)="forward()"
            style="background-color:#3f3e3e;float:right;"><img src="assets/images/2306 - Triangle Arrow Right.png"
              height="25px" width="25px "></button></td>
      </tr>
    </table>

    <mat-toolbar>
      Video Clips
    </mat-toolbar>
    <!--Video Thumbnail Image-->
    <table class="relvideos">
        <tr>
          <td *ngIf="selectedPatientVideos[k]!=undefined">
            <video [src]="selectedPatientVideos[k]" (click)="playInbig(k)" width="100px" height="80px"></video>
          </td>
          <td *ngIf="selectedPatientVideos[k+1]!=undefined">
            <video [src]="selectedPatientVideos[k+1]" (click)="playInbig(k+1)" width="100px" height="80px"></video>
          </td>
        </tr>
        <tr>
          <td *ngIf="selectedPatientVideos[k+2]!=undefined">
            <video [src]="selectedPatientVideos[k+2]" (click)="playInbig(k+2)" width="100px" height="80px"></video>
          </td>
          <td *ngIf="selectedPatientVideos[k+3]!=undefined">
            <video [src]="selectedPatientVideos[k+3]" (click)="playInbig(k+3)" width="100px" height="80px"></video>
          </td>
        </tr>
        <tr>
          <td *ngIf="selectedPatientVideos[k+4]!=undefined">
            <video [src]="selectedPatientVideos[k+4]" (click)="playInbig(k+4)" width="100px" height="80px"></video>
          </td>
          <td *ngIf="selectedPatientVideos[k+5]!=undefined">
            <video [src]="selectedPatientVideos[k+5]" (click)="playInbig(k+5)" width="100px" height="80px"></video>
          </td>
        </tr>
        <tr>
          <td>
            <button [disabled]="disablePrevVideoThumbnailBtn" class="prev" (click)="previous()"><img src="assets/images/leftarrow.png"
                height="25px" width="25px"></button>
          </td>
          <td>
            <button [disabled]="disableNextVideoThumbnailBtn" class="next" (click)="next()"><img src="assets/images/rightarrow.png"
                height="25px" width="25px"></button>
          </td>
        </tr>  
    </table> 
  </mat-sidenav>
</mat-sidenav-container>