<div class="pageHeader">
    <img src="assets/images/back-end/backend_banner.jpeg"  alt="Random third slide" class="pageImage">
      <div class="service-header">
        <div class="container">
            <div class="service-header__content">
                <div class="service-header__header">
                    <h1 class="service-header__title">
                        Our guide to <br> Backend Programming
                    </h1>
                </div>
            <h2 class="service-header__description">
                <div class="shorttag"><span class="hr"></span>Data, Data everywhere</div><br>
                <font class="middleText">
                    Our core expertise in service-oriented architectures and enterprise applications enables 
                    the development of cutting-edge products to deliver complex and 
                    secure backend service applications.
                </font>
            </h2>        
            </div>
        </div>    
    </div>
</div>
<div class="container">   
    <div class="row">
        <span class="serviceText">
            Backend applications centralize data that provide access to different client applications. 
            Depending on the customer's requirements and organizational structure, we landscape the system design 
            using modern microservices architecture that can have profound implications not just on the enterprise 
            IT function, but the digital transformation of the entire business. This improves the performance, 
            maintainability, and scalability of your software.</span>

        <span class="serviceText">
            Choosing the right technology to write service applications is crucial since we need to care about 
            performance, scalability, and maintainability of complex web applications. 
            Monolithic systems inevitably get larger over the time, deviating from their intended architecture 
            and becoming hard, risky, and expensive to evolve.  We provide services to redesign your larger 
            monolithic system to structured smaller subsystems that define a set of unique business responsibilities.            
        </span>
        <span class="serviceText">
            Microservice is an emerging architectural style of software development, bringing the benefits of 
            independently deployable and horizontally scalable application services.  Our technology expertise proves the new 
            way of designing systems directly related to the business taxonomy of an enterprise and business 
            process automation.
        </span>
    </div> 
</div>

<div class="container">
    <h5 style="text-align: center;color: black;">Our structured approach enables capturing and defining each stake holders needs from Microservices and API perspective</h5><br>
    <div class="row">
        <div class="col-lg-4 mb-4">
            <div class="card">
                <div style="height: 20px; background-color: #f29d36;"></div>
                <div class="card-body">
                    <h5 class="card-title" style="color: black;">Microservices Development</h5>
                    <p class="card-text" style="color: black; text-align: left;">                         
                        Service Oriented Architecture has evolved into more loosely coupled microservices architecture.  The primary purpose of these modern methodologies is agility, speed and 
                        reusability.<br>
                        Microservice based architecture offers independent development, deployment, and 
                        polyglot persistence by implementing functionalities modelled around single business capability.                         
                    </p>
                    <!--<a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>-->
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card">
                <div style="height: 20px; background-color: #373C44;"></div>
                <div class="card-body">
                    <h5 class="card-title" style="color: black;">Microservices Deployment</h5>
                    <p class="card-text" style="color: black; text-align: left;">
                        Container-type virtualization is an ability to run multiple isolated set of processes, known as containers, under a single kernel instance.<br>
                        Container technology offers more lightweight method to abstract the applications from the system environment which allows the microservices to be deployed quickly in private or public data centers.<br>
                    </p>
                    <!--<a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>-->
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card">
                <div style="height: 20px; background-color: #f29d36;"></div>
                <div class="card-body">
                    <h5 class="card-title" style="color: black;">Microservices Orchestration</h5>
                    <p class="card-text" style="color: black; text-align: left;">
                        Container orchestration is the process of automating all aspects of container
                        coordination and management of container lifecycles and their dynamic environments.<br>
                        Maturity of container technologies like Docker and container orchestration platforms
                        like Kubernetes has promoted microservices architecture, especially in the cloud-native deployments.<br>
                    </p>
                    <!--<a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>-->
                </div>
            </div>
        </div>
    </div>
    <span class="serviceText">
        We provide backend technology services in DotNET Core, Spring Boot, 
        Swagger and cross platform API service using Apache thrift framework.</span>
</div>
 <div class="container">
    <h2 class="serviceHeader">Technology Stack</h2>
    <br>
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-2">
        <div class="card_stack">
          <img class="iconsspec" src="assets/images/back-end/dotnet-core-logo.svg" />
          </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 offset"></div>
      <div class="col-lg-8 col-md-8 col-sm-8">
        <p><b>DotNET Core</b> gives a powerful, easy to use API that is great to achieve goals of application services.
            DotNET Core makes it easy to build services that reaches broad range of clients, including browsers
            and mobile devices. </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-2 offset"></div>
      <div class="col-lg-2 col-md-2 col-sm-2">
        <div class="card_stack">
          <img class="iconsspec" src="assets/images/back-end/spring-framework-logo.svg" />
          </div>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-8">
        <p><b>Spring </b>Framework is one of the most robust and versatile backend frameworks suitable
            to build complex web applications. This framework uses the concepts of Dependency Injection and Inversion 
            of Control to configure loosely coupled application components which gives more flexibility in its 
            responses and data access. </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-2">
        <div class="card_stack">
            <img class="iconsspec" src="assets/images/back-end/apache-thrift-logo.svg"/>
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 offset"></div>
      <div class="col-lg-8 col-md-8 col-sm-8">
        <p><b>Apache Thrift </b>software framework is used for scalable cross-language services 
            development and combines a software stack with a code generation engine to build stub services that work 
            efficiently and seamlessly between C++, Java, C#, PHP, Python, Perl, JavaScript, Node.js and other 
            languages.</p>
      </div>
    </div>
</div>
<!--
<div class="container">
    <h2 class="serviceHeader">Technology Stack</h2>
    <div class="row tech-icons" style="width: 100%;">
        <img class="iconsspec" src="assets/images/back-end/dotnet-core-logo.svg">
        <img class="iconsspec" src="assets/images/back-end/spring-framework-logo.svg">
        <img class="iconsspec" src="assets/images/back-end/apache-thrift-logo.svg">
        <img class="iconsspec" src="assets/images/back-end/microsoft-sql-server-logo.svg">
        <img class="iconsspec" src="assets/images/back-end/mysql-logo.svg">
        <img class="iconsspec" src="assets/images/back-end/oracle-logo.svg">
        <img class="iconsspec" src="assets/images/back-end/mongodb-logo.svg">
        <div class="row" style="width: 100%;margin-top: 10px;">
            <ul style="padding-left: 2%;">
                <li class="tech-entries">DotNet Core</li>
                <p style="margin-left: 20px;text-align:left;color: #262626;font-size: 16px;line-height: 1.8;">
                    DotNET Core gives a powerful, easy to use API that is great to achieve goals of application services.
                    DotNET Core makes it easy to build services that reaches broad range of clients, including browsers
                    and mobile devices.</p>
                <li class="tech-entries">Spring Boot</li>
                <p style="margin-left: 20px;text-align:left;color:#262626; font-size: 16px;line-height: 1.8;">
                    Spring Framework is one of the most robust and versatile backend frameworks suitable
                    to build complex web applications. This framework uses the concepts of Dependency Injection and Inversion 
                    of Control to configure loosely coupled application components which gives more flexibility in its 
                    responses and data access.</p>
                <li class="tech-entries">Apache Thrift</li>
                <p style="margin-left: 20px;text-align:left;color:#262626; font-size: 16px;line-height: 1.8;">
                    Apache Thrift software framework is used for scalable cross-language services 
                    development and combines a software stack with a code generation engine to build stub services that work 
                    efficiently and seamlessly between C++, Java, C#, PHP, Python, Perl, JavaScript, Node.js and other 
                    languages.</p>
            </ul>
        </div>
    </div>
</div>
-->
<div class="container">
    <div id="row" style="text-align: left;">
        <button class="button" (click)="btnClick();"><span>Find More </span></button>
    </div>
</div>
