<div class="card-container">
    <a class="card" target="_blank" rel="noopener" href="https://angular.io/tutorial">
        <!--<svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="40" height="60" viewBox="0 0 24 24"><path d="M5 13.18v4L12 21l7-3.82v-4L12 17l-7-3.82zM12 3L1 9l11 6 9-4.91V17h2V9L12 3z"/></svg>-->
        <span style="color: white; font-weight: bold;font-size: 14px;;">Front-End Technologies<br><font style="vertical-align: inherit;font-family: 'Open Sans', sans-serif;color: black;font-weight: normal;">Dedicated teams led by experts with a scientific approach to data science sharpen the group's focus and ensure that the software is instantly responsive.</font></span>
        <!--<svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>-->
    </a>
    <a class="card" target="_blank" rel="noopener" href="https://angular.io/tutorial">
        <!--<svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="40" height="60" viewBox="0 0 24 24"><path d="M5 13.18v4L12 21l7-3.82v-4L12 17l-7-3.82zM12 3L1 9l11 6 9-4.91V17h2V9L12 3z"/></svg>-->
        <span style="color: white; font-weight: bold;">REST APIs</span>
        <!--<svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>-->
    </a>
</div>
<div class="card-container" style="padding-bottom: 100px;">
    <a class="card" target="_blank" rel="noopener" href="https://angular.io/tutorial">
        <!--<svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="40" height="60" viewBox="0 0 24 24"><path d="M5 13.18v4L12 21l7-3.82v-4L12 17l-7-3.82zM12 3L1 9l11 6 9-4.91V17h2V9L12 3z"/></svg>-->
        <span style="color: white; font-weight: bold;">Backend Technologies</span>
        <!--<svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>-->
    </a>
    <a class="card" target="_blank" rel="noopener" href="https://angular.io/tutorial">
        <!--<svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="40" height="60" viewBox="0 0 24 24"><path d="M5 13.18v4L12 21l7-3.82v-4L12 17l-7-3.82zM12 3L1 9l11 6 9-4.91V17h2V9L12 3z"/></svg>-->
        <span style="color: white; font-weight: bold;">Mobile Technologies</span>
        <!--<svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>-->
    </a>
</div>
