<section id="gallery">
    <div class="container" style="padding-top: 50px;">
        <div class="row">
            <div class="col-lg-4 mb-4">
                <div class="card">
                    <div style="height: 20px; background-color: #f29d36;"></div>
                    <div class="card-body">
                        <h5 class="card-title">Front-End Development</h5>
                        <p class="card-text">The user interface is a fundamental element of interaction between people and the artifacts. The user experiences can lead the way for a company to create memorable experiences for the end consumers.  We offer services in latest front-end technology areas to produce responsive user interface along with backend API integration.
                            <br><br><a style="padding: 0px;" role="button" (click)="btnFrontClick();" class="btn btn-link"><br>Read More</a>
                        </p>
                        <!--<a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>-->
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card">
                    <div style="height: 20px; background-color: #373C44;"></div>
                    <div class="card-body">
                        <h5 class="card-title">Backend Development</h5>
                        <p class="card-text">We deliver backend technology development for complex web applications and systems that store, manage and process data from heterogeneous sources. Our range of services in application backend development includes the development of back-end layers and optimization of existing back-end systems in multi-layered software architecture.
                            <br><br><a style="padding: 0px;" role="button" (click)="btnBackClick();" class="btn btn-link">Read More</a>
                        </p>
                        <!--<a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>-->
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card">
                    <div style="height: 20px; background-color: #f29d36;"></div>
                    <div class="card-body">
                        <h5 class="card-title">Mobile Development</h5>
                        <p class="card-text">Mobile application plays a key role in the relationship between companies and their customers and ecosystems, generating new business models and collaboration environments.  The long-term successes of the modern enterprise depend on the mobility solutions and take advantages of the device’s numerous features.
                            <br><br><a style="padding: 0px;" role="button" (click)="btnMobiClick();" class="btn btn-link">Read More</a>
                        </p>
                        <!--<a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
  