<div class="container">
	<h2 class="alignleft">Ultrasound Scanning of Abdomen and Pelvis Report</h2>
	<br><br>
	<hr>
	<h2 class="logo">Demo Hospital</h2>
	<p style="color:#004d40">Demo Surgery Center</p>
	<p>135 Broadway
	<br>Nungambakkam, Chennai </p>
	<hr>
	<form #patientForm="ngForm" (ngSubmit)="onSubmit(patientForm.value)">
	<label>Patient Name:</label>
	<mat-form-field>
	<mat-label>Enter Patient Name</mat-label>
	<input matInput name="patientName" #nameRef="ngModel" ngModel required minlength="4"> </mat-form-field>
	<div *ngIf="nameRef.errors &&(nameRef.dirty||nameRef.touched)">
		<div [hidden]="!nameRef.errors.required" >
			<p style="color:red;">Please Enter a Name</p>
		</div>
		<div [hidden]="!nameRef.errors.minlength" >
			<p style="color: red;">Please Enter atleast 4 characters</p>
		</div>
	</div>
	<br>
	<label>Date of Birth</label>
	<mat-form-field>
	<mat-label>Enter date of birth</mat-label>
	<input matInput [matDatepicker]="picker_dob" name="dateOfBirth" ngModel (dateInput)="onDateOfBirthChangeEvent($event)" (dateChange)="onDateOfBirthChangeEvent($event)">
	<mat-datepicker-toggle matSuffix [for]="picker_dob"></mat-datepicker-toggle>
	<mat-datepicker #picker_dob startView="year"></mat-datepicker>
	</mat-form-field>
	<mat-label>&nbsp;&nbsp;&nbsp;&nbsp;Age:</mat-label>
	<mat-label>&nbsp;&nbsp;{{patientAge}}</mat-label>
	<br>
	<label>Record Number</label>
	<mat-form-field>
	<mat-label>Enter Record Number</mat-label>
	<input matInput #refnumber="ngModel" pattern="^[0-9][1-9]{4}$" maxlength="6" required name="recordNumber" ngModel> </mat-form-field>
	<div *ngIf="refnumber.errors &&(refnumber.dirty||refnumber.touched)">
		<div [hidden]="!refnumber.errors.pattern" >
			<p style="color: red;">Please Enter a five digit number</p>
		</div>
	</div>
	<br>
	<label>Date / Time of Procedure</label>
	<mat-form-field>
	<input matInput [matDatepicker]="picker" name="dateOfProcedure" ngModel>
	<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
	<mat-datepicker #picker></mat-datepicker>
	</mat-form-field>
	<br>
	<label>Referring Physician: </label>
	<mat-form-field>
	<mat-label>Referring Physician</mat-label>
	<mat-select [(value)]="selectedValue" name="referringPhysician" ngModel>
	<mat-option>None</mat-option>
	<mat-option value="frank">Frank Black, MD</mat-option>
	<mat-option value="stomach">Abodomen</mat-option>
	<mat-option value="duodenum">Pelvis</mat-option>
	</mat-select>
	</mat-form-field>
	<br>
	<label>Sonologist: </label>
	<mat-form-field>
	<mat-label>Sonologist</mat-label>
	<mat-select [(value)]="selectedsonologist" name="sonologist" ngModel>
	<mat-option>None</mat-option>
	<mat-option value="debbie">Debbie Doe, MD</mat-option>
	<mat-option value="stomach">Abdomen</mat-option>
	<mat-option value="stomach">Pelvis</mat-option>
	</mat-select>
	</mat-form-field>
	<hr>
	<label style="color:blue">PROCEDURE PERFORMED :</label>
	<mat-form-field>
	<mat-label>Procedure Peformed</mat-label>
	<input matInput placeholder="Procedure Performed" name="procedurePeformed" ngModel> </mat-form-field>
	<br>
	<br>
	<label style="color:blue">INDICATIONS FOR EXAMINATION :</label>
	<mat-form-field>
	<input matInput placeholder="Indications of Examinations" name="indications" ngModel> </mat-form-field>
	<br>
	<br>
	<label style="color:blue">FINDINGS - LIVER</label>
	<br>
	<label style="color:blue">Liver :</label>
	<mat-form-field>
	<textarea matNativeControl placeholder="Enter value for Liver" name="liver" ngModel></textarea> </mat-form-field>
	<br>
	<label style="color:blue">Gall Bladder :</label>
	<mat-form-field>
	<textarea matNativeControl placeholder="Enter value for Gall Bladder" name="gallBladder" ngModel></textarea> </mat-form-field>
	<br>
	<label style="color:blue">Spleen :</label>
	<mat-form-field>
	<textarea matNativeControl placeholder="Enter value for Spleen" name="spleen" ngModel></textarea> </mat-form-field>
	<br>
	<label style="color:blue">Pancreas :</label>
	<mat-form-field>
	<textarea matNativeControl placeholder="Enter value for Pancreas" name="pancreas" ngModel></textarea> </mat-form-field>
	<br>
	<label style="color:blue">Pre and Para Aortic Areas :</label>
	<mat-form-field>
	<textarea matNativeControl placeholder="Enter value for Aortic Areas" name="aorticAreas" ngModel></textarea> </mat-form-field>
	<br>
	<label style="color:blue">FINDINGS - Kidneys</label>
	<br>
	<label style="color:blue">Right Kidney :</label>
	<mat-form-field>
	<input matInput placeholder="Enter value for right kidney" name="rightKidney" ngModel> </mat-form-field>
	<br>
	<label style="color:blue">Left Kidney :</label>
	<mat-form-field>
	<input matInput placeholder="Enter value for left Kidney" name="leftKidney" ngModel> </mat-form-field>
	<br>
	<label style="color:blue">Urinary Bladder :</label>
	<mat-form-field>
	<input matInput placeholder="Enter value for Urinary Bladder" name="urinaryBladder" ngModel> </mat-form-field>
	<br>
	<label style="color:blue">Endometrium :</label>
	<mat-form-field>
	<input matInput placeholder="Enter value for Endometrium" name="endometrium" ngModel> </mat-form-field>
	<br>
	<label style="color:blue">Right Ovary :</label>
	<mat-form-field>
	<input matInput placeholder="Enter value for Right Ovary" name="rightOvary" ngModel> </mat-form-field>
	<br>
	<label style="color:blue">Left Ovary :</label>
	<mat-form-field>
	<input matInput placeholder="Enter value for Left Ovary" name="leftOvary" ngModel> </mat-form-field>
	<br><br>
	<label style="color:blue">Ovary Findings:</label>
	<mat-form-field>
	<textarea matNativeControl placeholder="Enter value for Ovary Findings" name="ovaryFindings" ngModel></textarea>
	</mat-form-field>
	<br>
	<label style="color:blue">IMPRESSIONS :</label>
	<mat-form-field style="width: 500px;">
		<textarea matNativeControl
			cdkTextareaAutosize
			cdkAutosizeMinRows="5"
			cdkAutosizeMaxRows="10"
			placeholder="Enter value for Impression" 
			name="impression" ngModel>
		</textarea>
	</mat-form-field>
	<hr>
	<label>Signature:<br><br> _________________________________  (Dr.Sonologist)</label>
	<br>
	<div class="buttons">
		<button mat-raised-button style="margin-left: 350px" color="primary">Publish Report</button>	
		<button mat-raised-button color="primary" (click)="callPictureReport(patientForm.value)">Image Report</button>	
	</div>
	</form>
	</div>
	
