
.footer
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding:20px;
    margin-top:auto;
    background-color: black;
    color:white;
}
a
{
    padding: 0 10px;
    text-decoration: none;
    margin: 10px 10px;
    color:white;
}
a:hover
{
    color: lightgrey;
    border-bottom: 1px solid white;
    
}
i
{
    font-size:25px;
}
#icons
{
    margin-top: 70px;
    margin-left:20px;
}