<div class="footer">
    <div id="links"><br>
        <a routerLink="add-items">Add items</a>
        <a routerLink="unit-of-measures">Unit of measures</a>
        <a routerLink="associations">Associations</a>
        <a routerLink="inventory">Inventory</a>
        <a routerLink="add-attributes">Add Attributes</a>
        <br><br>
        <!-- <i class="fa fa-facebook-square fa-1x"></i> -->
        <a style="margin-left: 160px;"><i class="fa fa-facebook-square"></i> </a>
        <a><i class="fa fa-twitter-square"></i> </a>
        <a><i class="fa fa-instagram"></i> </a>
        <a><i class="fa fa-youtube-square"></i> </a>
        <a><i class="fa fa-whatsapp"></i> </a>

        <h4 style="margin-left: 160px;margin-top:20px;color: darkgray;">&copy; Copyright 2021 www.BeeClust.com</h4>
</div>
</div>