.container {
    width: 900px;
    margin-left:100px;
    margin-right:100px;
    margin-top: 50px;
    padding-right: 10px;    
}

.container_image {
    margin-left: 50px;   
}

.logo {
    margin-top: 25px;
    font-size: 25px;
    font-weight: bolder;
    color:#004d40;
}

hr {
    border-bottom: 2px solid;
    width: auto;   
}

.alignleft {
    float: left;
}

.alignright {
    float: right;
}

.aligncenter {
    float: left;  
}

h2 {
    margin-bottom: 0px;
    margin-top: 0px;    
}

.form-control {
    margin-left: 20px;
    margin-top: 10px;
}

h3 {
    text-align: left;
}

label {
    width: 250px;
    display: inline-block;
}

img {
    width:310px;
    height:250px;
}

button {
    margin-right: 10px;    
}

.mat-raised-button {
    background: teal;
    color: #fff
}