<div>
    <ngb-carousel class="selectDisable">
        <ng-template ngbSlide>
            <div class="wrapper selectDisable">
                <img src="assets/images/technology_banner.jpeg"  alt="Random third slide" style="border: 0px; height: 100%; width: 100%;">
            </div>
            <div class="carousel-caption">
                <h3 style="color: white;">MicroServices driven business models</h3>
                <p style="color: white;">Resiliency and Availability</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="wrapper selectDisable">
                <img src="assets/images/smartcity_banner.jpeg"  alt="Random third slide" style="border: 0px; height: 100%; width: 100%;">
            </div>
            <div class="carousel-caption">
                <h3 style="color: white;">Internet of Things</h3>
                <p style="color: white;">Connectivity is key</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="wrapper selectDisable">
                <img src="assets/images/robotics_banner.jpeg"  alt="Random third slide" style="border: 0px; height: 100%; width: 100%;">
            </div>
            <div class="carousel-caption">
                <h3 style="color: white;">Automated Machine Learning</h3>
                <p style="color: white;">Feature engineering</p>
            </div>
        </ng-template>
    </ngb-carousel>
</div>