<div class="card-wrapper">

  <mat-card class="example-card">

    <mat-card-content class="outline">
      <table class="mat-table">
        <tr class="mat-row">
          <td class="mat-cell" style="margin-right:0px;">Alternate UOM</td>
          <td class="mat-cell" style="margin-left: 2px;">
            <mat-form-field>
              <mat-select>
                <mat-option value="Measurement">Measurement</mat-option>
                <mat-option value="Piece">Piece</mat-option>
                <mat-option value="Kilogram">Kilogram</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <td class="mat-cell" style="margin-right: 2px;">Conversion Quantity to Inventory UOM</td>
          <td class="mat-cell">
            <mat-form-field>
              <mat-select>
                <mat-option value="Customer UOM">Customer UOM</mat-option>
                <mat-option value="Stocking UOM">Stocking UOM</mat-option>
                <mat-option value="Alternate UOM">Alternate UOM</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
        </tr>

        <tr class="mat-row">
          <td class="mat-cell">Positive Package Tolerance Qty</td>
          <td class="mat-cell"><input class="my-custom-class" matInput>
          </td>
          <td class="mat-cell">Negative Package Tolerance Qty</td>
          <td class="mat-cell"><input class="my-custom-class" matInput>
          </td>
        </tr><br>
        <tr class="mat-row">
          <td class="mat-cell">
            <mat-checkbox [disabled]="true">Orders Can Be Placed Using this UOM</mat-checkbox>
          </td>
        </tr><br>

      </table>
      <fieldset>
        <legend style="color:darkcyan;font-weight: 500;"><b>Unit Dimensions</b></legend>
        <table class="mat-table">
          <tr class="mat-row">
            <td class="mat-cell">Length</td>
            <td class="mat-cell"><input class="my-custom-class" matInput>
            </td>
            
            <td class="mat-cell">Length UOM</td>
            <td class="mat-cell">
              <mat-form-field id="outline">
                <mat-select>
                  <mat-option value="Case">Case</mat-option>
                  <mat-option value="Piece">Piece</mat-option>
                  <mat-option value="Carton">Carton</mat-option>
                </mat-select>
              </mat-form-field>
            </td>
          </tr>

          <tr class="mat-row">
            <td class="mat-cell">Length</td>
            <td class="mat-cell"><input class="my-custom-class"  matInput>
            </td>
            <td class="mat-cell">Length UOM</td>
            <td class="mat-cell">
              <mat-form-field id="outline">
                <mat-select>
                  <mat-option value="Disk">Disk</mat-option>
                  <mat-option value="Kilogram">Kilogram</mat-option>
                  <mat-option value="Millimeter">Millimeter</mat-option>
                </mat-select>
              </mat-form-field>
            </td>
          </tr>

          <tr class="mat-row">
            <td class="mat-cell">Height</td>
            <td class="mat-cell"><input class="my-custom-class" matInput>
            </td>
            <td class="mat-cell">Height UOM</td>
            <td class="mat-cell">
              <mat-form-field id="outline">
                <mat-select>
                  <mat-option value="Forecast">Forecast</mat-option>
                  <mat-option value="Promotion">Promotion</mat-option>
                  <mat-option value="Demand">Demand</mat-option>
                </mat-select>
              </mat-form-field>
            </td>
          </tr>

          <tr class="mat-row">
            <td class="mat-cell">Width</td>
            <td class="mat-cell"><input class="my-custom-class" matInput>
            </td>
            <td class="mat-cell">Width UOM</td>
            <td class="mat-cell">
              <mat-form-field id="outline">
                <mat-select>
                  <mat-option value="Kilogram">Kilogram</mat-option>
                  <mat-option value="Millimeter">Millimeter</mat-option>
                  <mat-option value="Measurement">Measurement</mat-option>
                </mat-select>
              </mat-form-field>
            </td>
          </tr>

        </table>
      </fieldset>
    </mat-card-content>
  </mat-card>
</div>
