div{margin: 1%;height:80%;}

table{width:100%;}
 
th{
    color:black;
    background-color:#5E8B7E;
    font-weight: 500;
    font-size: 20px;
}

td{font-size: 15px;}

tr{background-color: gainsboro;}