 <div class="container-fluid pb-0 mb-0 justify-content-center text-light ">
     <footer>
         <div class="row justify-content-center py-5">
             <div class="col-11">
                 <div class="row ">
                     <div class="col-xl-8 col-md-4 col-sm-4 col-12 my-auto mx-auto a">
                         <h3 class="text-muted mb-md-0 mb-5 bold-text">BeeClust Technologies</h3>
                     </div>
                     <div class="col-xl-2 col-md-4 col-sm-4 col-12">
                         <h6 class="mb-3 mb-lg-4 bold-text "><b>MENU</b></h6>
                         <ul class="list-unstyled">
                             <li><a routerLink="dashboard">Home</a></li>
                             <li><a routerLink="contact-us">Contact Us</a></li>
                             <!--<li><a routerLink="about-us">About Us</a></li>-->
                         </ul>
                     </div>
                     <div class="col-xl-2 col-md-4 col-sm-4 col-12">
                        <h6 class="mb-3 mb-lg-4 bold-text "><b>ADDRESS</b></h6>
                         <p class="mb-1">11/7 Ponniamman Kovil 2nd Cross Street<br>Rajakilpakkam<br>
                         Chennai 600073<br>India</p>
                     </div>
                 </div>
                 <div class="row ">
                     <div class="col-xl-8 col-md-4 col-sm-4 col-auto my-md-0 mt-5 order-sm-1 order-3 align-self-end">
                        <!--<p class="social text-muted mb-0 pb-0 bold-text"> 
                           <span class="mx-2">
                              <i class="fa fa-twitter" aria-hidden="true"></i>
                           </span>
                           <span class="mx-2">
                              <i class="fa fa-facebook" aria-hidden="true"></i>
                           </span> 
                           <span class="mx-2">
                              <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                           </span>                            
                        </p>-->
                        <small class="rights"><span>&#174;</span>Copyright 2021 BeeClust Technologies. All rights reserved.</small>
                     </div>
                     <div class="col-xl-2 col-md-4 col-sm-4 col-auto order-1 align-self-end ">
                         <h6 class="mt-55 mt-2 text-muted bold-text"><b>General Queries</b></h6><small> <span><i class="fa fa-envelope" aria-hidden="true"></i></span><a href="mailto:info@beeclust.com">&nbsp;info@beeclust.com</a></small>
                     </div>
                     <div class="col-xl-2 col-md-4 col-sm-4 col-auto order-1 align-self-end ">
                        <h6 class="mt-55 mt-2 text-muted bold-text"><b>Contact Us</b></h6><small> <span><i class="fa fa-envelope" aria-hidden="true"></i></span><a href="mailto:contactus@beeclust.com">&nbsp;contactus@beeclust.com</a></small>
                    </div>
                 </div>
             </div>
         </div>
     </footer>
 </div>