<div class="service-header">
    <div class="container">
        <div class="service-header__content">
            <div class="service-header__header">
                <h1 class="service-header__title">
                    We are a Digital <br> Enterprise Solutions Company
                </h1>
            </div>
        <h2 class="service-header__description">
            <div class="shorttag"><span class="hr"></span>Digital Enterprise</div><br>
            <font class="middleText">
                We accelerate the growth of our customers through technological expertise and experience. 
                We work with organizations to meet the challenges of digitization. 
                Our customers are both digital start-ups and established companies in the IT sector.
            </font>
        </h2>        
    </div>
</div>
