.mat-card{background-color: #5E8B7E;height:4%;}

.mat-button{color:black;background-color: #DFEEEA;float:right;margin-left: 9px;}

.center{background-color: white;color: black;padding-left: 0%;}

#span1{color:black;font-size: 22px;font-family: Lucida Calligraphy;}

.mat-menu{word-spacing: 10px;}

h4{color: black;font-weight: 600;}
