.mat-card{background-color: rgb(3, 33, 99);height:4%;}

.mat-button{color:black;background-color: #B0C4DE;float:right;margin-left: 9px;}

.center{background-color: white;color: black;padding-left: 0%;}

#span1{color:white;font-size: 22px;font-family: Lucida Calligraphy;}

.mat-menu{word-spacing: 10px;}
