<br>
<p>Product item's Additional Attributes</p>

<div id="additionalAttr">
    <table class="mat-table">
         <tr class="mat-row" >
              <td cass="mat-cell" colspan="2">
               Additional Attributes</td>
         </tr>
        
         <tr class="mat-row">
            <td class="mat-cell">Attribute2</td>
            <td class="mat-cell"><mat-form-field>
                <input  matInput>
            </mat-form-field></td>
            <td class="mat-cell">Reference</td>
            <td class="mat-cell"><mat-form-field>
                <input  matInput>
            </mat-form-field></td>
        </tr>

        <tr class="mat-row" >
            <td cass="mat-cell" >
            Aliases</td>
        </tr>
        
        <tr class="mat-row">
            <td class="mat-cell">UPSC code</td>
            <td class="mat-cell" colspan="3"><mat-form-field>
            <input  matInput></mat-form-field></td>
        </tr>
                
        <tr class="mat-row" >
            <td cass="mat-cell" colspan="2">Item Exclusion codes</td> 
        </tr>
                             
       <tr class="mat-row" >
            <td cass="mat-cell" colspan="2">
                Available</td>
            <td></td>   
            <td cass="mat-cell" colspan="2">
            Subscribed</td>
                                
        <tr class="mat-row">
            <td cass="mat-cell" style="background-color: lightgray;" colspan="2">
            Default<br><br><br></td>
            <td style="text-align: center;">
            <mat-icon>keyboard_arrow_left</mat-icon>
            <mat-icon>keyboard_arrow_right</mat-icon>
            </td>
            <td style="background-color:skyblue;"><br><br></td>
        </tr>                          
</table>
</div>
<br><br><br>


