<div class="pageHeader">
    <img src="assets/images/contact_banner.jpeg"  alt="Random third slide" class="pageImage">
    <div class="centered"></div>
    <div class="service-header">
        <div class="container">
            <div class="service-header__content">
                <div class="service-header__header">
                    <h1 class="service-header__title">
                        Have Questions?
                    </h1>
                </div>
            <h2 class="service-header__description">
                <div class="shorttag"><span class="hr"></span>Let's connect</div><br>
                <font class="middleText">
                    If you have any questions or queries, a member of staff will always be happy to help. Feel free to contact us by telephone or email 
                    and we will be sure to get back to you as soon as possible.
                </font>
            </h2>        
        </div>
    </div>    
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-6 mb-6 sm-12 xs-12">
            <div class="card card-no-border" style="padding-right: 20px;">
                <div class="card-block card-block-bgcolor">
                    <i class="fa fa-map-marker contact-us-icon-style"></i>
                </div>
                <h3 class="contact-us-card-header">ADDRESS</h3>
                <p class="card-text">11/7 Ponniamman Kovil 2nd Cross Street<br>Rajakilpakkam<br>Chennai 600073<br>India</p>
            </div>
        </div>
        <div class="col-lg-6 mb-6 sm-12 xs-12">
            <div class="card card-no-border">
                <div class="card-block card-block-bgcolor">
                    <i class="fa fa-at contact-us-icon-style"></i>
                </div>
                <h3 class="contact-us-card-header">EMAIL</h3>
                <p class="card-text">
                    <b>General Enquiries</b><br>
                    <a href="mailto:info@beeclust.com">info@beeclust.com</a>
                </p>
                <br>
                <p class="card-text">
                    <b>Contact Us</b><br>
                    <a href="mailto:contactus@beeclust.com">contactus@beeclust.com</a>
                </p>
                <br>
                <p class="card-text">
                    <b>Employment Opportunities</b><br>
                    <a href="mailto:careers@beeclust.com">careers@beeclust.com</a>
                </p>
            </div>
        </div>
    </div>
</div>
<!--
<div class="container contact">
	<div class="row contactrow">
		<div class="col-md-3" style="border-bottom: 1px solid lightgray; border-top: 1px solid lightgray; border-left: 1px solid lightgray;">
			<div class="contact-info">
				<h2>Our Contact Card</h2>
			</div>
		</div>
		<div class="col-md-9" style="border-right: 1px solid lightgray;border-top: 1px solid lightgray; border-bottom: 1px solid lightgray;">
			<div class="contact-form">
                <div class="table">
                    <div class="row">
                       <div class="cell">
                            <i class="fa fa-envelope" style="color: #f29d36; font-size: 20px;"></i>    
                       </div>
                       <div class="cell">
                            <span>General Queries:&nbsp;</span>
                            <a href="mailto:info@beeclust.com">info@beeclust.com</a>
                            <br>
                            <span>Contact Us:&nbsp;</span>
                            <a href="mailto:contactus@beeclust.com">contactus@beeclust.com</a>
                       </div>
                    </div>
                     <div class="row">
                        <div class="cell">
                         <i class="fa fa-location-arrow" style="color: #f29d36; font-size: 20px;"></i>    
                        </div>
                        <div class="cell" style="text-align: left;">
                            11/7 Ponniamman Kovil 2nd Cross Street<br>Rajakilpakkam<br>
                            Chennai 600073<br>India
                        </div>
                     </div>
                 </div>
			</div>
		</div>
	</div>
</div>
-->
<!--
<div class="container">
    <div class="row">
        <div class="col-lg-12 mb-12" style="width: 70%;">
            <div class="card">
                <i class="fa fa-envelope" style="color: #f29d36; font-size: 100px;"></i>
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </div>
</div>
-->