<div class="pageHeader">
    <img src="assets/images/mobile/mobile_commerce.jpeg"  alt="Random third slide" class="pageImage">
    <div class="service-header">
        <div class="container">
            <div class="service-header__content">
                <div class="service-header__header">
                    <h1 class="service-header__title">
                        One stop solution for <br> Mobile Development
                    </h1>
                </div>
            <h2 class="service-header__description">
                <div class="shorttag"><span class="hr"></span>Future of Everything</div><br>
                <font class="middleText">
                    Communications are at the heart of M-commerce and community.
                </font>
            </h2>        
        </div>
    </div>    
</div>
<div class="container">   
    <div class="row">
        <span class="serviceText">
            Mobile applications play a key role in the relationship between companies and their customers and ecosystems,
            generating new business models and collaboration environments.  The long-term success of the modern enterprise 
            depends on the mobility solutions and take advantages of the device’s numerous features.
        </span>
        <span class="serviceText">
            E-commerce is the new way of shopping and doing business. Mobile phones have generated 
            an incredible opportunity for accessing the Internet, while M-commerce has increased the level of 
            using a mobile phone for business. M-commerce has been defined as “a special branch of e-commerce, in which mobile devices and 
            their network connection medium are used to buy, sell, and promote products, services, and information”.
        </span>
        <span class="serviceText">
            We provide services in identifying key mobile business cases, defining mobile enablement initiatives,
            research and redefine the user experience, and transforming business cases for an enterprise.
        </span>
        <span class="serviceText">
            We provide mobile application development services using Xcode and Swift languages in iOS platform.
        </span>
    </div>
</div>
<div class="container">
    <h2 class="serviceHeader">Technology Stack</h2>
    <br>
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-2">
        <div class="card">
          <img class="iconsspec" src="assets/images/mobile/ios-logo.svg" />
          </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 offset"></div>
      <div class="col-lg-8 col-md-8 col-sm-8">
        <p><b>iOS xCode </b></p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-2 offset"></div>
      <div class="col-lg-2 col-md-2 col-sm-2">
        <div class="card">
          <img class="iconsspec" src="assets/images/mobile/ios-swift-logo.svg" />
          </div>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-8">
        <p><b>Swift Framework </b></p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-2">
        <div class="card">
            <img class="iconsspec" src="assets/images/mobile/android-kotlin-logo.svg"/>
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 offset"></div>
      <div class="col-lg-8 col-md-8 col-sm-8">
        <p><b>Kotlin Programming Language</b></p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-2 offset"></div>
      <div class="col-lg-2 col-md-2 col-sm-2">
        <div class="card">
            <img class="iconsspec" src="assets/images/mobile/apache-cordova-logo.svg" />
        </div>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-4">
        <p><b>Cordova Framework</b></p>
      </div>
    </div>
</div>


<!--
<div class="container">
    <h2 class="serviceHeader">Technology Stack</h2>    
    <div class="row tech-icons" style="width: 100%;">
        <img class="iconsspec" src="assets/images/mobile/ios-logo.svg">
        <img class="iconsspec" src="assets/images/mobile/ios-swift-logo.svg">
        <img class="iconsspec" src="assets/images/mobile/android-kotlin-logo.svg">
        <img class="iconsspec" src="assets/images/mobile/apache-cordova-logo.svg">
        <div class="row" style="width: 100%;margin-top: 10px;">
            <ul style="padding-left: 2%;">
                <li class="tech-entries">iOS xCode</li>
                <li class="tech-entries">Swift Framework</li>
                <li class="tech-entries">Kotlin Programming Language</li>
                <li class="tech-entries">Cordova Framework</li>
            </ul>
        </div>
    </div>
</div>
-->
<div class="container">
    <div id="row" style="text-align: left;">
        <button class="button" (click)="btnClick();"><span>Find More </span></button>
    </div>
</div>
