.my-custom-class{background-color: #DFEEEA;} 

.example-card{padding:4%;background-color :white;margin: 4%;}

.mat-form-field{width:260px;}

.outline{border-radius:8;border-style: solid;border-width: 1px;border-color: navy;padding: 10px;}

.mat-card{width:40%;align-content: center;}

span{padding-right: 30px;}

.card-wrapper{display: flex;justify-content: center;align-items: center;height: 82%;}

#outline1{width:35%;align-content: center;fill: #d3e3f8;}

.btn{width:1%;}

#button{
    background-color: white;border:1px solid rgb(187, 160, 160);
    margin-left: 9px;color:#5E8B7E;padding: 0%;
  } 

div{background-color: #DFEEEA;}
 
#next{margin-top: 38%;margin-bottom: 1%;} 
.mat-form-field,.my-custom-class { width: 200px;}
 
 td{ font-weight: bold;}