<div class="card-wrapper">
  <br>
  <mat-card class="example-card">
    <mat-card-content class="outline">
      <table class="mat-table">
        <tr class="mat-row">
            <td class="mat-cell">Item id</td>
            <td class="mat-cell"><input class="my-custom-class" matInput></td>
          </tr>
          <tr class="mat-row">
            <td class="mat-cell">UOM</td>
            <td class="mat-cell">
              <mat-form-field>
                <mat-select>
                  <mat-option *ngFor="let uom_value of catalogs" [value]="uom_value.uom">
                    {{uom_value.uom}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
          </tr>
          <tr class="mat-row">
            <td class="mat-cell">Short Description</td>
            <td class="mat-cell"><input class="my-custom-class" matInput></td>
          </tr>
          <tr class="mat-row">
            <td class="mat-cell">Master catalog</td>
            <td class="mat-cell">
              <mat-form-field>
                <mat-select>
                  <mat-option *ngFor="let masters of catalogs" [value]="masters.master">
                    {{masters.master}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
            <td>
              <button mat-raised-button id="button">
                <mat-icon aria-label="Example icon-button with a heart icon">school</mat-icon>
              </button>
            </td>
          </tr>
          <tr class="mat-row">
            <td class="mat-cell">Used As Container for Packing</td>
            <td class="mat-cell"><mat-checkbox></mat-checkbox>
            </td>
          </tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>