
img
{
    
    background-size: cover;
    background-repeat: no-repeat;
    width:100%;
    height:90vh;
}
.glass
{
    width:450px;
     height:300px;
     font-size:50px;
     position: absolute;
      margin-left:50%;
      top:25%;
      line-height: 70px;  
     /* margin-top:10px; */
     /* color:white !important ; */
     padding:70px 10px;     
     border-style: solid grey;
     border-radius: 7px;
     box-shadow:3px 3px rgba(0, 0,0,0.2) ;
     background: rgba(255,255,255,0.4);
     backdrop-filter: blur(3px);
     text-align: center;
}
p
{
    color:white;
    font-size: 30px;
}