div{display: flex;justify-content: center;align-items: center;background-color: #DFEEEA;}

.outline{border-radius:8;border-right-style: solid;border-top-style: solid;border-bottom-style: solid;border-color:#2F5D62;padding: 10px;}

.mat-card{width:auto;align-content: center;}

.my-custom-class{background-color: #DFEEEA;font-size:15px;width:30%; margin-left:10px;}  

#btn{color:aliceblue;background-color: #2F5D62;border:1px solid whitesmoke;width:20%;}

#btn1{background-color: #DFEEEA;border-top-left-radius: 20px;border:1px solid whitesmoke;width:20%;}

#btn2{background-color: #DFEEEA;border-top-left-radius: 20px;border:1px solid #B0C4DE;width:20%;}

.example-card{padding:0%;background-color :whitesmoke;width:75%;margin: 2%;}
  
#next{float: right;margin-top: 50%;margin-bottom: 1%;}

#prev{float: right;margin-top: 50%;margin-bottom: 1%;} 