div{margin: 1%;}

table{width: 100%;}

tr:nth-child(1){background-color:rgb(234, 238, 247);}

tr:nth-child(2){background-color: rgb(200, 223, 223);}

tr:nth-child(9){background-color: rgb(200, 223, 223);}

tr:nth-child(10){background-color: rgb(200, 223, 223);}

tr:nth-child(3){background-color:rgb(234, 238, 247);}

tr:nth-child(4){background-color:rgb(234, 238, 247);}

tr:nth-child(5){background-color:rgb(234, 238, 247);}

tr:nth-child(6){background-color:rgb(234, 238, 247);}

tr:nth-child(7){background-color:rgb(234, 238, 247);}

tr:nth-child(8){background-color:rgb(234, 238, 247);}

tr:nth-child(11){background-color:rgb(234, 238, 247);}

tr:nth-child(12){background-color:rgb(234, 238, 247);}

tr:nth-child(13){background-color:rgb(234, 238, 247);}

tr:nth-child(14){background-color:rgb(234, 238, 247);}

tr:nth-child(15){background-color:rgb(234, 238, 247);}

tr:nth-child(16){background-color:rgb(234, 238, 247);}

tr:nth-child(17){background-color:rgb(234, 238, 247);}

tr:nth-child(18){background-color:rgb(234, 238, 247);}

tr:nth-child(19){background-color:rgb(234, 238, 247);}

tr:nth-child(20){background-color:rgb(234, 238, 247);}

tr:nth-child(21){background-color:rgb(234, 238, 247);}

tr:nth-child(22){background-color:rgb(234, 238, 247);}

th{background-color: #5E8B7E;font-size: 20px;font-weight: 500;color:black}

td{font-size: 15px;font-weight: 500;}