.gaTable { background-color:#f5f5f5; margin-left: 30px;margin-top: 10px;
    border-collapse:collapse;color:#000;}
.gaTable th { background-color:teal;color:white;}
.gaTable td, .gaTable th { padding:5px;border:0; }