  <div>
  <mat-toolbar class="navbar">
    <p id="companyname"><span><img src="/assets/images/catalog-icon.jpg" width="40px" height="40px"></span>Catalogue</p>
    <div class="matmenu">
      <button mat-flat-button [matMenuTriggerFor]="menu1">Go to..</button>
      <button style="margin-left:10px;" mat-flat-button [matMenuTriggerFor]="menu2">Reports</button>
  </div>
  </mat-toolbar>
  
  <mat-menu #menu1="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="mainmenu">Product</button>
  </mat-menu>

  <mat-menu #mainmenu="matMenu">
    <a mat-button routerLink="add-items">Add items</a><br>
    <a mat-button routerLink="unit-of-measures">Unit of measures</a><br>
    <a mat-button routerLink="associations">Associations</a><br>
    <a mat-button routerLink="inventory">Inventory</a><br>
    <a mat-button routerLink="add-attributes">Add Attributes</a>
  </mat-menu>

  <mat-menu #menu2="matMenu">
    <a mat-button routerLink="reports/order-details-report">Order Details</a><br>
    <a mat-button routerLink="reports/orders-on-hold-report">Orders on hold </a><br>
    <a mat-button routerLink="reports/returned-products-report">Returned Products</a><br>
    <a mat-button routerLink="reports/top-products-report">Top Products</a><br>
    <a mat-button routerLink="reports/open-order-report">Open Orders</a><br>
  
  </mat-menu>

  