#companyname
{
    font-family:cursive;
    border-color: white;
    color:lightgray;
}

img
{
    border-radius: 20%;
    background-color:sandybrown;
    margin-top: 2px;
}
#menu2
{
    height:700px;
    background-color: black;
    color:white;
}


